@mixin breakpoint($breakpoint) {
  $query: '';

  @if unit($breakpoint) == 'px' and ($breakpoint/1px) >= 769 {
    $query: "(min-width: 769px)";
  } else {
    $query: "(max-width: 768px)";
  }

  @media #{$query} { @content; }
}