.counter-widget-jumbotron--statue-of-liberty {
  .counter-widget-jumbotron__img {
    max-width: initial !important;
    width: 115% !important;
  }
}

.mlk-banner {
  .counter-widget-jumbotron__widget {
    margin-top: 14%;
  }
}


// Counter Widget Large
.counter-widget-edit--large {
	.counter-widget {
		&__counters {
			max-width: 60% !important;
		}

		&__counter {
			font-size: 1.375rem !important;
		}

		&__button-container {
			text-align: center;
		}

		&__additional-details {
			width: 800px;
			p {
				font-size: 1.375rem !important;
			}
		}
	}
}

.counter-widget-edit--medium {
	.counter-widget-jumbotron--no-img {
		.counter-widget-jumbotron__logo-container {
			max-width: 120px !important;
		}

		.counter-widget__title {
			max-width: 100% !important;
		}

		.counter-widget {
			&__counters {
				flex-basis: 75% !important;
				max-width: 75% !important; 
				font-size: .75rem !important;

				&--week {
					display: none !important;
				}
			}

			&__title {
				font-size: 1rem !important;
			}

			&__additional-details {
				font-size: .75rem;

				p {
					font-size: 1em;
				}
			}
		}
	}

	.counter-widget-jumbotron {
		&__widget {
			left: 0 !important;
			margin-top: 12% !important;
		}

		&--statue-of-liberty {
			.counter-widget-jumbotron {
				&__img {
					width: 120% !important;
				}
			}
		}
	}

	.counter-widget {
		transform: scale(1) !important;
		width: 100% !important;
		max-width: 100% !important;
		padding: .5rem !important;

		&-jumbotron__logo-container {
			max-width: 180px !important;
		}

		&__title {
			// max-width: 42% !important;
			font-size: 14px !important;
			margin-bottom: 5px !important;
			text-shadow: 0 4px 10px rgba(0,0,0,.6);
		}
 
		&__counters,
		&__details {
			margin-bottom: 0 !important;
			padding-left: 2px !important;
		}

		&__counter {
			font-size: 14px !important;
			max-width: 160px !important;
			text-shadow: 0 4px 4px rgba(0,0,0,.6);

			&--week {
				display: none !important;
			}
		}

		&__counter:not(:last-child) {
			margin-bottom: .5em !important;
		}

		&__date-wrap {
			margin-bottom: 4px !important;
			max-width: 100% !important;
		}

		&__additional-details {
			padding-left: 4px !important;
		}

		&__nonprofit-details {
			p {
				margin-bottom: 4px;
				font-size: 13px;
				text-shadow: 0 4px 4px rgba(0,0,0,.6);

				span {
					font-weight: 400 !important;
				}
			}
		}

		&__button-container {
			text-align: center !important;
			margin-top: 6px !important;
		}

		&__button {
			font-size: 12px !important;
			padding: 4px 14px !important;
		}
	}
}
