// Add only non-css vars, not rules, or they will be imported many times.
$font-primary: "Poppins", sans-serif;
$font-secondary: "Montserrat", sans-serif;

// Colors
$primary: #233e84 !default;
$secondary: #d22127 !default;
$color-emphasis: $primary;
$color-emphasis-alt: $secondary;
$color-emphasis-alt-modified: rgba($color-emphasis-alt, 0.9);

// Fonts
$font-family-base: 'Poppins';
$headings-font-family: 'Montserrat';
$headings-font-weight: 900;

// Buttons
$btn-border-radius: 0;