// Import the xthon-core library variables
@import '@/xthon-core/lib/assets/scss/vars.scss';

// Override the custom variables here
$font-primary: "Poppins", sans-serif;
$font-secondary: "Montserrat", sans-serif;

// Colors
$primary: #233e84;
$secondary: #d22127;
$color-emphasis: $primary;
$color-emphasis-alt: $secondary;
$color-emphasis-alt-modified: rgba($color-emphasis-alt, 0.9);

// Fonts
$font-family-base: 'Poppins';
$headings-font-family: 'Montserrat';
$headings-font-weight: 900;

// Buttons
$btn-border-radius: 0;

// Override Bulma variables here
$success: $color-emphasis;

// Now initialize the library
@import '~bulma/sass/utilities/mixins';
@import '~bulma/sass/utilities/initial-variables';
@import '~bulma/sass/utilities/functions';
@import '~bulma/sass/utilities/derived-variables';
@import '~bulma/sass/utilities/controls';
@import '~bulma/sass/utilities/animations';
