// Import the xthon-core library variables
@import '@/xthon-core/lib/assets/scss/vars.scss';

// Override the custom variables here
$font-primary: "Poppins", sans-serif;
$font-secondary: "Montserrat", sans-serif;

// Colors
$color-text: #000507;
$color-text-blue: #00B0EA;
$color-text-green: #8AC557;
$color-medium-gray: #676767;
$color-medium-light-gray: #B0B1B3;
$color-dark-gray: #343532;
$color-gray: #676767;
$color-bglight: #FFFFFF;
$color-light-gray: #F0F0F0;
$color-silver: #C0C0C0;
$color-light-bg: #E8F1EF;
$color-fundraiser-bg: #F9FAFB;
$color-lightest-gray: #FBFBFB;
$color-lightest-green: #F7FCF0;
$color-brownish: #f5f1e0;
$color-blueish: #E8F1EF;

$color-share-facebook: #3b5998;
$color-share-twitter: #1DA1F2;
$color-share-linkedin: #0077B5;
$color-share-instagram: #e4405f;
$color-share-email: #DB4437;
$color-share-gmail: #DB4437;
$blue: $color-text-blue;

$color-emphasis: $color-text-blue;
$color-emphasis-alt: $color-text-green;
$white: #FFFFFF;
$max-flickity-width: 620px;

// Widths and containers
$max-container-width: 1344px;
$max-fluid-container-width: 1162px;
$max-combo-wrapper-width: 960px;

// Fonts
$font-family-base: $font-primary;
$headings-font-family: $font-secondary;
$headings-font-weight: 900;

// Buttons
$btn-border-radius: 0;

// Colors
$primary: #4e5453;
$secondary: #ECDF96;
$success: #23d160;
$color-emphasis: $primary;
$color-emphasis-alt: $secondary;
$color-emphasis-alt-modified: rgba($color-emphasis-alt, 0.9);

// Fonts
$font-family-base: 'Poppins';
$headings-font-family: 'Montserrat';
$headings-font-weight: 900;

// Buttons
$btn-border-radius: 0;

// Override Bulma variables here
$section-padding: 1.5rem 1.5rem;

// Notifications
$notification-radius: 100px;

// Navbar variables
$navbar-width: 320px;
$navbar-color: #000;
$navbar-background-color: #fff;
$navbar-border-color: #ddd;


// Station colors
$hoya-primary-color: #2a2f8a;
$hoya-secondary-color: $hoya-primary-color;


// Now initialize the library
@import '~bulma/sass/utilities/mixins';
@import '~bulma/sass/utilities/initial-variables';
@import '~bulma/sass/utilities/functions';
@import '~bulma/sass/utilities/derived-variables';
@import '~bulma/sass/utilities/controls';
@import '~bulma/sass/utilities/animations';
