.button {
  font-size: .875em;
  font-weight: 700;
  height: auto;
  border-color: transparent;
  text-transform: uppercase;

  &.is-secondary {
    color: #fff;
    background-color: $secondary;
  }
}