.button {
  font-size: .875em;
  font-weight: 700;
  height: auto;
  border-color: transparent;

  &.is-secondary {
    color: #fff;
    background-color: $secondary;
  }

  @include themify {
    @if themed('buttonUppercase') {
      text-transform: uppercase;
    }
  }
}