.button {
  height: auto;
  // font-size: 1.125em;
  // padding-top: .375rem;
  // padding-bottom: 0.375rem;
  // padding-left: 2.5rem !important;
  // padding-right: 2.5rem !important;

  @include themify($themes) {
    &.is-primary {
      color: themed('btnPrimaryColor');
      background-color: themed('btnPrimaryBg');
    }
  }

  &.is-secondary {
    color: #fff;
    border-color: $secondary;
    background-color: $secondary;
  }
}
