.comment-item {
  &__avatar {
    border-radius: 100%;
    overflow: hidden;
    width: 50px;
    height: 50px;
  }
}

.update__content {
  br {
    content: '';
    display: block;
    margin-bottom: 15px;
  }
}

.navbar {
  min-height: 45px !important;
  @include themify {
    background-color: themed('primary') !important;
  }
}

html,
body,
html body {
  font-size: 17px;
}