html,
body {
  height: 100%;
}

#content {
  padding-top: 3em;
  padding-bottom: 3em;
}

.push-left {
  margin-left: auto;
}

a.navbar-item:hover {
  background-color: transparent;
}

.update__content {
  br {
    content: '';
    display: block;
    margin-bottom: 15px;
  }
}

html,
body,
html body {
  font-size: 17px;
}