html,
body,
html body {
  font-size: 17px;

  h1 {
    font-size: 38px !important;
  }
}

.app {
  &--v2 {
    h1 {
      color: $secondary !important;
    }
  }
}

.comment-item {
  &__avatar {
    border-radius: 100%;
    overflow: hidden;
    width: 50px;
    height: 50px;
  }
}

.update__content {
  br {
    content: '';
    display: block;
    margin-bottom: 15px;
  }
}

.top-menu {
  $self: &;

  &--v2 {
    .navbar {
      background: $primary !important;
    }
  }
}

html,
body,
html body {
  font-size: 17px;
}
.nonprofit-search-field-wrapper .dropdown-menu li .selection {
  overflow: hidden !important;
}