// TODO: This styles should be available when a widget is generated.
// TODO: Styles are nested 4-levels deep, which is not best practice. Maybe refactor CSS/class structure of counter widgets.
.counter-widget-jumbotron {
	$self: &;
	overflow: hidden;

	// General styles.
	&__logo-container {
		position: absolute;
		top: .25em;
		max-width: 300px;
		left: 0;
		right: 0;
		margin-left: auto;
		margin-right: auto;

		&--right {
			margin-right: 0 !important;
		}

		&--left {
			margin-left: 0 !important;
		}
	}
	
	&__logo-container {
		max-width: 200px;
		margin-left: auto;
		margin-right: auto;
		
		&--right {
			margin-right: 0;
		}

		&--left {
			margin-left: 0;
		}
	}

	.counter-widget {
		max-width: 800px;
	}

	// General No-Image widget styling.
	&--no-img {
		border-radius: 4px;
		border: 2px solid #3a3a3a;
		padding: 1.5em;
		
		#{ $self }__widget {
			position: static !important;
			max-width: 100%;
		} 
		
		#{ $self }__logo-container {
			position: static !important;
			max-width: 270px !important;
		}
		
		.counter-widget {
			color: #000 !important;
			position: static !important;
			max-width: 100% !important;
			margin-left: auto;
			margin-right: auto;
			padding-top: 1em !important;
			padding-left: 0 !important;
			padding-right: 0 !important;
			padding-bottom: 0 !important;

			
			&__date-wrap {
				max-width: 45% !important;
				margin-bottom: 0 !important;
			}

			&__counters,
			&__message-container,
			&__additional-details {
				width: 100% !important;
				margin-bottom: .625em;
				margin-left: auto;
				margin-right: auto;
			} 
			
			&__counter {
				margin-left: auto;
				margin-right: auto;

				&:not(:last-child) {
					margin-bottom: 8px !important;
				}
			}

			&__title {
				text-align: center;
				margin-left: auto;
				margin-right: auto;
				max-width: 70% !important;
				margin-bottom: 8px !important;
				font-size: 30px !important;
			}
			
			&__counter {
				font-size: 24px !important;
			}
			
			&__details {
				flex-direction: column;
				align-items: center;
			}
		}

		p {
			font-size: 18px !important; 
			margin-bottom: 8px !important;
			text-align: center;
		}

		.button {
			color: #000;
		}
	}
	
	// Large(800px) specific widget styling.
	&--large {
		.counter-widget {
			max-width: 75%;
			margin-left: 0 !important;

			&__title {
				max-width: 80%;
				font-size: 22px !important;
			}

			
			&__counter {
				flex-basis: 45%;
				font-size: 1rem !important;
			}
			
			&__date-wrap {
				font-size: 14px !important;
				text-align: center;
				margin-bottom: 0 !important;
			}
			
			&__nonprofit-name {
				margin-top: .25rem;
			}
			
			&__counters,
			&__title,
			&__counter {
				margin-bottom: .5rem;
			}

			p {
				font-size: 14px !important;
				margin-bottom: .75rem !important;
			}
		}

		// Large Statue of Liberty widget specific styling
		&#{ $self }--statue-of-liberty {
			#{ $self }__img {
				width: 125%;
			}
		}

		// Large-Sized Kid widget specific styling
		&#{ $self }--kid {
			#{ $self }__logo-container {
				top: 1.5em !important;
				right: 1.5em !important;
				max-width: 170px !important;
			}
		}		
	}

	// Medium-sized(500px) specific widget styling
	&--medium {

		#{ $self }__widget.left {
			left: 0 !important;
		}

		.counter-widget {
			max-width: 100%;
			padding: 0 1.25rem !important;
			margin-left: 0 !important;


			&__title {
				max-width: 60%!important;
				font-size: 13px!important;
				margin-bottom: 5px!important;
			}

			&__counters {
				margin-bottom: 0 !important;
				padding-left: 4px !important;
			}

			&__counter {
				max-width: 160px;
				flex-basis: 160px;
				font-size: 13px !important;
				margin-bottom: .5em !important;
			}

			&__date-wrap {
				max-width: 220px;
				margin-bottom: 4px !important;
			}

			&__button-container {
				margin-top: 6px !important;
			}

			&__button {
				font-size: 10px !important;
				padding: 3px 12px !important;
			}

			&__additional-details {
				padding-left: 4px !important;
			}

			p {
				margin-bottom: 4px;
				font-size: 13.5px!important;
			}
		}
		// Medium-sized Statue of Liberty widget specific styling
		&#{ $self }--statue-of-liberty {
			#{ $self }__img {
				width: 123%;
			}
		}

		// Medium-sized Kid photo widget specific styling		
		&#{ $self }--kid {
			#{ $self }__logo-container{
				right: auto !important;
				left: 1.5em !important;
			}
		}

		// Medium-sized No Image widget specific styling
		&#{ $self }--no-img {
			padding: .625em !important;

			#{ $self }__logo-container {
				max-width: 150px !important;
			}

			.counter-widget {
				padding-top: .625rem !important;
				padding-left: 0 !important;
				padding-right: 0 !important;

				&__title {
					font-size: 20px !important;
					max-width: 70% !important;
				}

				&__counter {
					max-width: 220px;
					margin-left: auto;
					margin-right: auto;
					margin-bottom: 4px;
					font-size: 18px !important;
				}

				&__date-wrap {
					text-align: center;
					margin-bottom: 0 !important;
				}
				
				.counter-widget-counter__date {
					font-size: 12px !important;
				}

				&__nonprofit-name {
					display: inline-block !important;
				}

				p {
					font-size: 12px!important;
				}

				&__title,
				&__counter {
					margin-bottom: 4px;
				}
			}
		}
	}
}

.mlk-banner {
  .counter-widget-jumbotron__widget {
		@include tablet {
			margin-top: 18%;
			margin-left: 12%;
		}
  }
}

.poor-kid-section {
	.counter-widget {
		@include tablet {
			margin-top: 15%;
		}

		@include widescreen {
			margin-top: 50%;
		}
	}
}