$themes: (
  main: (
    primary: $primary,
    secondary: $secondary,
    headingColor: $light-blue,
    linkColor: $primary,
    btnPrimaryBg: $primary,
    btnPrimaryColor: #fff,
    btnSecondaryBg: $secondary,
    btnSecondaryColor: #fff,
    navbarBackgroundColor: $primary,
    navbarLinkColor: $orange,
  ),
  secondary: (
    primary: $secondary,
    secondary: $primary,
    headingColor: $primary,
    linkColor: $secondary,
    btnPrimaryBg: $secondary,
    btnPrimaryColor: #fff,
    btnSecondaryBg: $primary,
    btnSecondaryColor: #fff,
    navbarBackgroundColor: $light-blue,
    navbarLinkColor: $primary,
  )
);
