.app {
  h1 {
    font-size: 2.375rem;
    margin-bottom: 20px;
  }
  
  h2 {
    font-size: 2.125rem;
    margin-bottom: 20px;
  }
}

h1,
h2,
h3,
h4,
h5 {
  color: $secondary;
}

a,
a:link {
  color: $secondary;
}